
// Header
$theme-header: #3CBC8D;

// Map
$background-navigation-vector: rgba(182, 222, 255, 1);
$background-darkgray-vector: rgba(34, 35, 38, 1);

// General
$transparent-background: rgba(0, 0, 0, 0);
$shadow-background: rgba(0, 0, 0, 0.25);
$lightgray-border: #aaa;
$error-red: #B91913;
$input-border-bottom: 2px solid #3CBC8D;
$spacing: 3%
